.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 80px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.itemName {
    min-height: 60px;
}

.itemName,
.itemLanguage {
    color: var(--corSecundaria);
}

.itemLink {
    display: block;
    background-color: var(--corTerciaria);
    color: var(--corSecundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 18px;
    padding: 8px;
    text-decoration: none;
    border-radius: 6px;
}